# Ignore Mac system files
.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore uptime.json as it contains runtime data
uptime.json
